html {
    width: 100%;
    height: auto;
    margin: 0;
    font-family: "Roboto", Helvetica;
}

body {
    background: linear-gradient(180deg, #EEE9DA 0%, #EEE9DA 32.4%, #BDCDD6 65.73%);
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 400px;
    overflow-y: auto;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.logo {
    width: 350px;
    height: 250px;
    position: relative;
    /* top: 1%; */
    left: 10%;
    background-image: url("../img/food_corner.png");
    background-size: cover;
    background-position: 50% 50%;
}
.login-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 0.8;
    padding-top: 7%;
    padding-bottom: 10%;
    padding-left: 10%;
}
.image {
    background-image: url("../img/jedzenie.png");
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    border-radius: 1rem;
    flex-grow: 4;
}

.image-login-container {
    width: 85%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: row;
    position: relative;left: 0%;
    flex-grow: 0.8;
}
input {
    padding: 3.5%;
    border: 0px;
    border-radius: 1rem;
    box-shadow: inset 0px 4px 4px #00000040;
    text-align: center;
}
input + input, button + button {
    margin-top: 5%;
}
input::placeholder {
    text-align: center;
    letter-spacing: 0.01em;
    color: #ACACAC;
}
input + button {
    margin-top: 10%;
}
button {
    background-color: #6096B4;
    border: 0px;
    border-radius: 1rem;
    color: white;
    padding: 3.5%;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    position: relative;
}
button:active {
    transform: scale(0.8);
}

.messages {
    /* background-color: #6096B4;  */
    color: black;
    padding: 1.5%; /* Adjust the padding as needed */
    border-radius: 1rem;
    /* margin-top: 5%; Match the spacing between input and button */
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    text-align: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    /* overflow: auto; */
}

.content-container .logo {
    left: 0%;
}

.register-input {
    margin-bottom: 5%;
    min-width: 20em;
    min-height: 2em;
}

.register-button {
    text-align: center;
    margin-left: 1em;
}

.invalid {
    border: 2px solid red;
    border-radius: 1rem;
    outline: none;
}


@media (max-width: 600px) {
    .logo {
        width: 67%;
        height: 50%;
        min-width: 241px;
        min-height: 180px;
        background-image: url("../img/food_corner.png");
        background-size: cover;
        background-position: 50% 50%;
        top: 20%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }
    .image {
        display: none;
    }
    .image-login-container {
        flex-direction: column;
        padding: 0px 7%;
        justify-content: center;
    }
    .login-container {
        justify-content: center;
        padding: 0px;
    }
    .logo + .image-login-container {
        margin-top: 15%;
    }
    .register-input {
        margin-bottom: 5%;
        min-width: 15em;
        min-height: 1.5em;
    }
    .content-container .logo {
        margin-top: 5%;
    }
}