html {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(180deg, #EEE9DA 0%, #EEE9DA 32.4%, #BDCDD6 65.73%);
    margin: 0;
    width: 100%;
    height: 100%;
    /* min-width: 806px; */
}

p {
    font-family: "Roboto-Medium", Helvetica;
    font-size: 1.25em;
}

.taskbar {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #eee9da;
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: 0px 4px 4px #00000040;
    height: 9em;
    padding: 0.1%;
    width: 100%;
    white-space: nowrap;
    /* overflow: hidden; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.taskbar-text-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.taskbar-text-icon:active, .like:active, .dislike:active, #recipe-heart:active {
    transform: scale(0.9);
}

.taskbar-text-icon + .taskbar-text-icon {
    margin-left: 2em;
}

.taskbar-buttons-container {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    margin-right: 5%;
    justify-content: space-between;
}

.logo {
    width: 25%;
    min-width: 20%;
    height: 100%;
    object-fit: cover;
    position: relative;
    align-items: flex-start;
    left: 5%;
}

.icon {
    height: 2.5em;
    width: 2.5em;
    padding: 1%;
    position: relative;
    align-items: center;
}

.title-wrapper {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: small;
    letter-spacing: 1.5px;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

.search-bar {
    background-color: #ffffff;
    border-radius: 1rem;
    border: 0px;
    height: 2.5rem;
    width: 99%;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    text-indent: 4%;
    box-shadow: 0px 4px 4px #00000040;
    font-size: 1rem;
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    text-indent: 4%;
}

.search-bar-wrapper {
    position: relative;
    width: 80%;
    left: 10%;
    padding-bottom: 4%;
}

.button-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 3%;
}

.buttons-container {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    left: 10%;
    position: relative;
}

button {
    background-color: #d9d9d9;
    font-family: "Roboto-Medium", Helvetica;
    border-radius: 1rem;
    border-color: #000000;
    border-width: 1px;
    font-size: 1rem;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
    flex-grow: 1;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 5%;
    min-width: 5rem;
}

button:active {
    transform: scale(0.95);
}

button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5%;
}

.button-text {
    font-size: 1rem;
    text-align: center;
}

button + button {
    margin-left: 5%;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
    width: 100%;
    transition: transform 0.15s ease-in-out;
}
.recipe:active {
    transform: scale(0.95);
}

.recipes-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 4rem;
    overflow: hidden;
    width: 80%;
    left: 10%;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px #00000040;
    background-size: cover;
    background-position: center;
}


.recipe-text {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.recipe-text-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.recipe-buttons {
    margin-left: 10%;
}

#recipe-heart {
    padding: 0px;
    margin-left: 2em;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#recipe-heart {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.likes-container {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.like, .dislike {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.like-dislike-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.dislike p, .like p {
    margin: 0;
}

.like + .dislike {
    padding-left: 4em;
    margin-right: 2em;
}


.image-icon-container {
    width: 80%;
    position: relative;
    margin-left: 10%;
    flex-grow: 3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.messages {
    margin-top: 2%;
    margin-left: 10%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    font-size: 1.25rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

.input-file-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-buttons-container {
    margin-top: 4%;
    width: 80%;
    margin-left:10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.category-diet-buttons {
    display: flex;
    flex-direction: row;
    margin: 2em 6em 0 6em;

}

.add-button {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.add-button > button {
    margin: 0% 40%;
}

li, p, h2, .recipe-text {
    font-family: "Roboto", Helvetica;
}
h2 {
    font-size: 2em;
    margin: 2% 0% 0% 10%;
    width:80%;
}

h1 {
    font-size: 3em;
}

h2 + p, h2 + ul {
    margin-left: 10%;
    width:80%;
    font-size: 1.5em;
}

.box-text {
    font-family: "Roboto", Helvetica;
    width: 80%;
    border-radius: 1em;
    margin-top: 2%;
    margin-left: 10%;
    min-height: 8em;
    text-indent: 1%;
    box-shadow: 0px 4px 4px #00000040;
    border: 0;

}


@media (max-width: 700px) {
    .icon {
        width: 1.5em;
        height: 1.5em;
    }

    .recipes-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 2rem;
    }
    .buttons-container {
        display: flex;
        flex-wrap: wrap;
    }
    .find-button {
        font-size: 0.8em;
        min-height: 1em;
        max-height: 2.5em;
        height: none;
    }
    button + button {
        margin-left: 5%;
    }
    button + .find-button {
        margin: 0px;
    }
    .search-bar {
        width: 100%;
        height: 2em;
        border-radius: 1rem;
    }
    .recipe {
        width: 100%;
        background-position: 50% 50%;
        height: 15rem;
    }
    p {
        font-size: 1em;
    }
    .logo {
        width: 40%;
    }
    .taskbar-text-icon + .taskbar-text-icon {
        margin-left: 0.5em;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h2 + p, h2 + ul {
        font-size: 1em;
    }
    button {
        min-height: 1em;
        max-height: 2em;
        justify-content: center;
    }
    button .button-text {
        font-size: 0.8em;
    }
    .search-bar-wrapper {
        padding-bottom: 5%;
    }
    .category-diet-buttons {
        margin: 1em 1em 0 1em;
    }

}